In [1]:
import numpy as np

In [3]:
#creating array
arr = np.array([[1,2,3],
             [4,2,5]])

In [4]:
# printing type of array
type(arr)

numpy.ndarray

In [5]:
#printing array dimensions(axes)
arr.ndim

2

In [6]:
#printing shape of array
arr.shape

(2, 3)

In [7]:
#printing total number of elements in array
arr.size

6

In [8]:
#prining type of elements in array
arr.dtype

dtype('int32')

In [14]:
#creating array from list with type float
a = np.array([[1,2,4],[5,8,7]],dtype ='float')

In [15]:
print(a)

[[1. 2. 4.]
 [5. 8. 7.]]

In [16]:
#create array from tuple
b = np.array((1,3,2))

In [17]:
print(b)

[1 3 2]

In [18]:
#creating a  3* 4 array with all zeroes
c = np.zeros((3,4))

In [19]:
print(c)

[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]

In [21]:
#create a constant  value array of complex type 
d = np.full((3,3),6)

In [22]:
print(d)

[[6 6 6]
 [6 6 6]
 [6 6 6]]

In [23]:
#create an array with random values
e = np.random.random((2,2))

In [24]:
print(e)

[[0.54195385 0.50036047]
 [0.80473231 0.03424614]]

In [26]:
#create a sequence of integers from 0 to 30  with steps of 5
f = np.arange(0,30,5)

In [32]:
np.arange?

In [27]:
print(f)

[ 0  5 10 15 20 25]

In [28]:
#create a sequence of 10 values in range 0 to 5 
g = np.linspace(0,5,10)

In [29]:
print(g)

[0.         0.55555556 1.11111111 1.66666667 2.22222222 2.77777778
 3.33333333 3.88888889 4.44444444 5.        ]

In [30]:
h = np.ones((3,3))

In [31]:
print(h)

[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

In [35]:
np.eye?

In [39]:
#reshaping 3*4  array to 2*2*3 array 
arr12 = np.array([[1,2,3,4],
                [5,8,9,4],
                [7,0,3,2]
                ])

In [40]:
newarr = arr12.reshape(2,2,3)

In [41]:
print(newarr)

[[[1 2 3]
  [4 5 8]]

 [[9 4 7]
  [0 3 2]]]

In [42]:
print(arr12)

[[1 2 3 4]
 [5 8 9 4]
 [7 0 3 2]]

In [43]:
print(newarr)

[[[1 2 3]
  [4 5 8]]

 [[9 4 7]
  [0 3 2]]]

In [44]:
#flatten array
arr = np.array([[1,2,3],[4,5,6]])

In [45]:
print(arr)

[[1 2 3]
 [4 5 6]]

In [46]:
flarr = arr.flatten()

In [47]:
print(flarr)

[1 2 3 4 5 6]

# Array Indexing

In [48]:
#example array
arr = np.array([[-1,2,0,4],
               [4,-0.5,6,0],
               [2.6,0,7,8],
               [3,-7,4,2.0]])

In [50]:
arr

array([[-1. ,  2. ,  0. ,  4. ],
       [ 4. , -0.5,  6. ,  0. ],
       [ 2.6,  0. ,  7. ,  8. ],
       [ 3. , -7. ,  4. ,  2. ]])

In [51]:
arr[1:,  :3]

array([[ 4. , -0.5,  6. ],
       [ 2.6,  0. ,  7. ],
       [ 3. , -7. ,  4. ]])

In [52]:
arr[1:,  :3:2]

array([[4. , 6. ],
       [2.6, 7. ],
       [3. , 4. ]])

In [53]:
#slicing
temp = arr[:2 , ::2]

In [54]:
temp

array([[-1.,  0.],
       [ 4.,  6.]])

In [55]:
#integer array indexing example
temp1  = arr[[0 ,1 ,2 ,3 ],[3 ,2 ,1 ,0]]

# Basic opeartions

In [61]:
a = np.array([1,2,5,3])

In [62]:
print(a+1)

[2 3 6 4]

In [63]:
print(a-1)

[0 1 4 2]

In [64]:
print(a*10)

[10 20 50 30]

In [65]:
#squaring each element
print(a**2)

[ 1  4 25  9]

In [66]:
#modify existing array
a *= 2

In [67]:
print(a)

[ 2  4 10  6]

In [68]:
#transpose of array
a = np.array([[1,2,3],[4,5,6],[9,6,0]])

In [69]:
print(a)

[[1 2 3]
 [4 5 6]
 [9 6 0]]

In [70]:
print(a.T)

[[1 4 9]
 [2 5 6]
 [3 6 0]]

# Unary operators:-
                       many unary operations are provided as method of ndarray class.This includes sum , min,max,etc. 
                       This function can also be applied row-wise or column-wise by setting an axis parameter.

In [71]:
arr = np.array([[1,5,6],
               [5,7,2],
               [3,1,9]])

In [72]:
#maximum element of array
print(arr.max())

9

In [73]:
# row-wise maximum elemets
print(arr.max(axis=1))

[6 7 9]

In [74]:
#column-wise mim element
print(arr.min(axis=0))

[1 1 2]

In [75]:
#sum of array elements
print(arr.sum())

39

In [76]:
#cumulative sum along each row [1 ,1+5, 1+5+6]
print(arr.cumsum(axis=1))

[[ 1  6 12]
 [ 5 12 14]
 [ 3  4 13]]

# Binary Operators:
                              These opeartions apply on  array  elementwise and a new array is created.You can use all basic operations like +,-,*,/ etc.In each case of +=,-=,*= operators,the existing array is modified.

In [77]:
#example
a =np.array([[1,2],
            [3,4]])
b= np.array([[4,3],
            [2,1]])

In [78]:
print(a+b)

[[5 5]
 [5 5]]

In [79]:
#multiply arrays
print(a*b)

[[4 6]
 [6 4]]

In [80]:
#matrix multiplication
print(a.dot(b))

[[ 8  5]
 [20 13]]

# Universal function:-
                                    Numpy provides familiar mathematical functions such as sin ,cos etc.These functions also operate elementwise on array,producing an array as output.
                                    
                                    
NOTE:- all the opeartions we did above  using overloaded operators can be done using ufunc like np.add,np.subtract,np.multiply,np.divide,np.sum.

In [81]:
#create an array of sine values
a = np.array([0,np.pi/2, np.pi])

In [82]:
print(a)

[0.         1.57079633 3.14159265]

In [83]:
#exponential value
a = np.array([0,1,2,3])

In [84]:
print(np.exp(a))

[ 1.          2.71828183  7.3890561  20.08553692]

In [85]:
#square root of array values
print(np.sqrt(a))

[0.         1.         1.41421356 1.73205081]

# Sorting array:-
                            There is a simple np.sort method for sorting Numpy arrays.

In [86]:
a = np.array([[1,4,2],
             [3,4,6],
             [0,-1,5]])

In [87]:
#sorted array
print(np.sort(a,axis = None))

[-1  0  1  2  3  4  4  5  6]

In [88]:
#sort array row-wise
print(np.sort(a,axis=1))

[[ 1  2  4]
 [ 3  4  6]
 [-1  0  5]]

In [89]:
#specify sort algorithm
print(np.sort(a,axis=0,kind = 'mergesort'))

[[ 0 -1  2]
 [ 1  4  5]
 [ 3  4  6]]

# Stacking and Splitting:-
                                            Several arrays can be stacked together along different axes.
1]np.vstack = To stack arrays along vertical axis.
2]np.hstack = To stack arrays along horizontal axis.
3]np.column_stack = To stack 1-D arrays as columns into 2-D arrays.
4]np.concatenate = To stack arrays along specified axis(axis is passed as an arguement).

In [90]:
a = np.array([[1,2],
             [3,4]])
b = np.array([[5,6],
              [7,8]])

In [91]:
#vertical stacking
print(np.vstack((a,b)))

[[1 2]
 [3 4]
 [5 6]
 [7 8]]

In [92]:
#horizontal stacking
print(np.hstack((a,b)))

[[1 2 5 6]
 [3 4 7 8]]

In [93]:
c=[5,6]

In [94]:
print(np.column_stack((a,c)))

[[1 2 5]
 [3 4 6]]

In [95]:
#concatenation method
#concatenating to 2nd axis
print(np.concatenate((a,b),1))

[[1 2 5 6]
 [3 4 7 8]]

# Splitting functions:-
 
 1]np.hsplit = splits array along horizontal axis 
 2]np.vsplit = splits array along vertical axis
 3]np.array_split = splits array along specified axis

In [96]:
 a = np.array([[1,3,5,7,9,11],
              [2,4,6,8,10,12]])

In [97]:
#horizontal splitting
#splitting along horizontal axis into 2 parts.
print(np.hsplit(a,2))

[array([[1, 3, 5],
       [2, 4, 6]]), array([[ 7,  9, 11],
       [ 8, 10, 12]])]

In [98]:
#vertical splitting
#splitting along vertical axis into 2 parts.
print(np.vsplit(a,2))

[array([[ 1,  3,  5,  7,  9, 11]]), array([[ 2,  4,  6,  8, 10, 12]])]

# Some more numpy functions:-
                                                    min,max
                                                    mean
                                                    median
                                                    average
                                                    variance
                                                    standard deviation

In [99]:
a = np.array([[1,2,3,4],[5,6,7,8]])

In [100]:
print(a)

[[1 2 3 4]
 [5 6 7 8]]

In [101]:
print(np.min(a))

1

In [102]:
#specify axis for the direction in case of multidimensional array
print(np.min(a,axis=0))

[1 2 3 4]

In [103]:
print(np.min(a,axis=1))

[1 5]

In [104]:
b= np.array([1,2,3,4,5])

In [105]:
m= sum(b) / 5

In [106]:
print(m)

3.0

In [107]:
print(np.mean(b))

3.0

In [111]:
print(np.mean(a,axis=0))

[3. 4. 5. 6.]

In [109]:
print(np.mean(a,axis=1))

[2.5 6.5]

In [112]:
c = np.array([1,5,4,2,0])

In [113]:
print(np.median(c))

2.0

In [114]:
print(np.mean(c))

2.4

In [115]:
#weights
#weighted mean = n1*w1 + n2*w2 /n1+n2
w = np.array([1,1,1,1,1])

In [116]:
print(np.average(c,weights = w))

2.4

In [117]:
#standard deviation
u = np.mean(c)
myStd = np.sqrt(np.mean(abs(c-u)**2))
print(myStd)

1.854723699099141

In [118]:
#inbuilt functions 
dev = np.std(c)
print(dev)

1.854723699099141

In [119]:
#variance
print(myStd**2)
print(np.var(c))

3.440000000000001
3.4400000000000004

# Numpy Random Module:-
                                            rand= random values in a given shape
                                            randn= Return a sample(or samples) from the "standard normal"  distribution.
                                            randint= Return random integers  from low(inclusive) to high(inclusive)
                                            random= Returns  random floats in the half-open interval(0.0,1.0)
                                            choice= Generates a random sample from a given 1-D array
                                            shuffle= shuffles the contents of  a sequence.

In [120]:
a = np.arange(10) + 5
print(a)

[ 5  6  7  8  9 10 11 12 13 14]

In [121]:
np.random.seed(1)
np.random.shuffle(a)
print(a)

[ 7 14 11  9  5  8  6 12 13 10]

In [122]:
#returns a value from Standard normal distribution
a = np.random.randn(2,3)
print(a)

[[ 1.5827523  -1.04514683  0.25759352]
 [-1.9593946  -1.50780766 -0.31529207]]

In [123]:
a = np.random.randint(5,10,3)
print(a)

[7 9 6]

In [125]:
#randomly picks one element from array
element = np.random.choice([1,4,3,2,7,11,27])
print(element)

4